<launch>
    <node pkg="beginner_tutorials" type="cluster_extraction" name="cluster_extraction" output="screen"/>
    <node pkg="rosbag" type="play" name="player" output="screen" args="-q $(find beginner_tutorials)/last_fly_bag/short.bag"/>
    <node type="rviz" name="rviz" pkg="rviz" />
</launch>

